@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<div class="nav">
    <div class="nav-content">
        <h1 class="nav-title">UCL Event Scanner</h1>
        <div class="nav-links">
            <a href="/registration" class="nav-link">Registration</a>
            <a href="/scanners" class="nav-link">Scanners</a>
            <a href="/displays" class="nav-link">Displays</a>
            <a href="/admin" class="nav-link">Admin</a>
        </div>
    </div>
</div>

<main>
    @Body
</main>